{% extends 'base.html' %}
{% block content%}

<h1>{{teddy.name}}'s details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ teddy.name }}</span>
        <p>Breed: {{ teddy.breed }}</p>
        <p>Description: {{ teddy.description }}</p>
        <p>Birth Year: {{ teddy.age }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'teddy_update' teddy.id %}">Edit</a>
        <a href="{% url 'teddy_delete' teddy.id %}">Delete</a>
    </div>
</div>




{% endblock %}